@page "/CardStyles"

    <div class="container">
        <IndiviualCardComp Header="Default Header 2 "
                           Title="1 Card title 222 "
                           BodyText="222 This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."
                           FootNote="222 Last updated 3 mins ago"
                           FooterText="2222 days left">
        </IndiviualCardComp>

        <IndiviualCardComp>
            <TitleTemplate>
                <h4 class="card-title">Title from Component 99</h4>
            </TitleTemplate>
        </IndiviualCardComp>

    </div>



@code {



}
