@page "/CardStyles1"





<div class="container">
        <div class="card mb-4">
            <div class="card-header">
                City Breaks
            </div>
            <div class="card-body">
                <h4 class="card-title">Bologna</h4>
                <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
                <p class="card-text">...</p>
                <a href="#" class="btn btn-danger">Get Deal</a>
            </div>
        </div>

        <div class="card mb-4">
            <h5 class="card-header">
                City Breaks
            </h5>
            <div class="card-body">
                <h4 class="card-title">Oslo</h4>
                <h6 class="card-subtitle mb-2">Oslofjord, Norway</h6>
                <p class="card-text">...</p>
                <a href="#" class="card-link text-danger">Read More</a>
                <a href="#" class="card-link text-warning">Book a Trip</a>
            </div>
        </div>
    </div>

<div class="card">
        <h5 class="card-header">
            City Breaks
        </h5>
        <div class="card-body">
            <h4 class="card-title">Bologna</h4>
            <h6 class="card-subtitle mb-2">Emilia-Romagna Region, Italy</h6>
            <p class="card-text">It is the seventh most populous city in Italy, at the heart of a metropolitan area of about one million people. </p>
            <a href="#" class="btn btn-danger">Get Deal</a>
        </div>
        <div class="card-footer text-danger">
            2 days left
        </div>
    </div>



<div class="container">
        <h2>Card Header and Footer</h2>
        <div class="card-deck">
            <div class="card mb-4">
                <div class="card-header">Header</div>
                <div class="card-body">Content</div>
                <div class="card-footer">Footer</div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Header</div>
                <div class="card-body">Content</div>
                <div class="card-footer">Footer</div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="card-deck">
            <div class="card mb-4">
                <h5 class="card-header">
                    City Breaks
                </h5>
                <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">1 Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                <div class="card-footer text-danger">
                    2 days left
                    <a href="#" class="btn btn-danger">Get Deal</a>
                </div>
            </div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">2 Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="w-100 d-none d-sm-block d-md-none"><!-- wrap every 2 on sm--></div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">3 Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="w-100 d-none d-md-block d-lg-none"><!-- wrap every 3 on md--></div>
            <div class="card mb-4">
                <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">4 Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>

        </div>
    </div>





@code {



}
