@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br />
<input type="number" @bind="currentCount" />
<br />
<MovieList MoviesList="movieLists">
    <!-- This is the child contents and it gets assigned in the MoviesList.razor file-->

    <span style="color:red">This is Loading...</span>
    <img src="https://media3.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif" alt="Alternate Text" />
</MovieList>


@code {

    private List<Movie> movieLists;

    protected async override Task OnInitializedAsync()
    //protected override void OnInitialized()
    {
        await Task.Delay(3000);

        movieLists = new List<Movie>(){
            new Movie() { Title = "joker", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie() { Title = "Batman", ReleaseDate = new DateTime(2016, 11, 23)},
            new Movie() { Title = "Avenders", ReleaseDate = new DateTime(2010, 7, 16)}
        };

    }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
