@page "/"


<div>
    <h3>Movies List</h3>

    <MovieList MoviesList="movieLists" />

</div>

<button @onclick="AddNewMovie">Add new Movie</button>

@code{

    //private List<Movie> movieLists; // Causes Null template or null template tag helper to display
    private List<Movie> movieLists = new List<Movie>(); // Causes Empty template or Empty template tag helper to display

    protected async override Task OnInitializedAsync()
    //protected override void OnInitialized()
    {
        await Task.Delay(0);

        movieLists = new List<Movie>(){
            new Movie() { Title = "Spider-Man: Far from home", ReleaseDate = new DateTime(2019, 7, 2)},
            new Movie() { Title = "Moana", ReleaseDate = new DateTime(2016, 11, 23)},
            new Movie() { Title = "Inception", ReleaseDate = new DateTime(2010, 7, 16)}
        };

    }


    private void AddNewMovie()
    {
        movieLists.Add(new Movie() { Title = "Spider-Man: REally Far from home", ReleaseDate = new DateTime(2019, 7, 2) });
    }




}